@font-face {
    font-family: 'ink free';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/Inkfree.ttf');
  }
@font-face {
    font-family: 'IBM';
    src: url('/font/IBMPlexSans-Regular.ttf') format('truetype');
    
}
body{
    margin: 0;
    padding: 0;
}
p{
    text-indent: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.a4parent{
    justify-content: center;
}  
.page{
    display: flex;
    flex-direction: column;
    min-height: 9in;
    width: 8.5in;
    /* justify-content: space-between; */
    border: 1px solid;
}
.image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
ul li{
    list-style-position: outside;
    margin-top: 0.8rem;
}
.text{
    -webkit-columns: 2;
}
.text p{
    margin-top: 20px;
}
.text2 p{
    margin-top: 20px;
}
.text3 p{
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.leftArrow:after{
    content: " ";
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 60px solid transparent;
  border-right: 15px solid black;
  border-left: none;
  border-bottom: 60px solid transparent;
}
.rightArrow:after {
    content: " ";
    position: absolute;
    right: -15px;
    top: 15px;
    border-top: 60px solid transparent;
    border-right: none;
    border-left: 15px solid black;
    border-bottom: 60px solid transparent;
  }
@media all and (max-width: 8.5in){
    .page{
        width: 100%;
        border: none;
    }
    .a4parent{
      width: 100%;
    }    
}
@media all and (max-width: 470px){
    .topLeftImage1{
        display: none;
    }
    .topLeftText2{
        display: flex;
    }
    .text{
        -webkit-columns: 1;
    }
}
@media all and (max-width: 690px){
    #page4HeaderImage{
        display: none;
    }
    #page5HeaderImage{
        display: none;
    }
    #page6HeaderImage{
        display: none;
    }
    #page5HeaderText{
        padding: 2rem;
        font-size: 2rem;
    }
}
@media all and (max-width: 590px){
    .leftArrow:after{
        border: none;
    }
    .rightArrow:after{
        border: none;
    }
}