@font-face {
    font-family: 'ink free';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/Inkfree.ttf');
  }
@font-face {
    font-family: 'IBM';
    src: url('/font/IBMPlexSans-Regular.ttf') format('truetype');
    
}
body{
    margin: 0;
    padding: 0;
}
p{
    text-indent: 30px;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.a4parent{
    justify-content: center;
}  
.page{
    display: flex;
    flex-direction: column;
    min-height: 11in;
    width: 8.5in;
    justify-content: space-between;
    border: 1px solid;
}
.image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
ul li{
    list-style-position: outside;
}
.page1BodyRightText{
    -webkit-columns: 2;
}
.page1BodyRightText p{
    margin-top: 20px;
    text-indent: 0;
}