@font-face {
    font-family: 'ink free';
    font-style: normal;
    vertical-align: middle;
    src: url('https://raw.githubusercontent.com/weberon/fonts-in-weberon/master/all_fonts/Inkfree.ttf');
  }
@font-face {
    font-family: 'IBM';
    src: url('/font/IBMPlexSans-Regular.ttf') format('truetype');
    
}
body{
    margin: 0;
    padding: 0;
}
p{
    text-indent: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
.tabloidParent{
    justify-content: center;
}  
.page{
    display: flex;
    flex-direction: column;
    min-height: 9in;
    width: 8.5in;
    /* justify-content: space-between; */
    border: 1px solid;
}
.image{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
ul li{
    list-style-position: outside;
    margin-top: 0.8rem;
}
.page1BodyRightText{
    -webkit-columns: 2;
    padding: 2rem;
    font-size: 1rem;
}
.page1BodyRightText p{
    margin-top: 20px;
}
.text{
    -webkit-columns: 2;
}
.text p{
    margin-top: 20px;
}
.page1HeaderBottom{font-size: 1.1rem;}
.page1BodyLeftText2{font-size: 1.1rem;}
.page3BodyLeftText{
    font-size: 1rem;
}
.page3BodyLeftText p{margin-top: 10px;}
.text2 p{
    margin-top: 25px;
}
.page3BodyRightSec1{
    font-size: 1rem;
    /* line-height: 1.2; */
}
.page3BodyRightSec1 p{margin-top: 25px;}
.page3BodyRightSec3{
    
    font-size: 1rem;
    /* line-height: 1.2; */
}
.page3BodyRightSec3 p{margin-top: 10px;}
.page3BodyRightSec3Image{
    margin: 0 auto;
    margin-top: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.text3 p{
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.page4BodySec3LeftText1{
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    rotate: -5deg;
}
.RightSec2Text{font-size: 1rem;}
.page4BodySec1LeftImage{width: 3.1in;height: 1.7in; background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page4BodySec1RightImage{width: 3.1in;height: 1.7in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page4BodySec1LeftText{font-size: 0.9rem;}
.page4BodySec1RightText{font-size: 0.9rem;}
.page4BodySec2LeftImage{width: 3.1in;height: 1.7in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page4BodySec2LeftText{font-size: 0.9rem;}
.page4BodySec2RightBox1{font-size: 1.2rem;}
.page4BodySec2RightBox2{font-size: 1.2rem;}
.page4BodySec3LeftText1{font-size: 2rem;}
.page4BodySec3LeftImage{width: 4in;height: 1.5in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.sec3LeftText1{font-size: 1.2rem;}
.sec3LeftText2{font-size: 1.6rem;}
.sec3LeftText3{font-size: 1rem;}
.sec3LeftText4{font-size: 2rem;}
.sec3LeftText5{font-size: 0.9rem;}
.page4BodySec3RightText{font-size: 1.2rem;}
.page4BodySec3RightText p{margin-top: 25px;}
.page4BodySec3RightFooterText{font-size: 1.1rem;}
.page4Body{gap: 2.5rem}
.page5HeaderText{font-size: 1.3rem;}
.page5BodySec1LeftText{font-size: 1.2rem;}
.page5BodySec1RightText{font-size: 1rem;}
.page5BodySec1LeftIamge{height: 2.3in; width: 3.6in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page5BodySec1RightIamge{height: 2.3in;width: 3.6in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page5BodySec2LeftImage{height: 2.7in;width: 4.1in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page5BodySec2LeftText{font-size: 1.2rem;}
.page5BodySec2Right{font-size: 1.1rem;}
.page5BodySec3RightImage{height: 2.7in;width: 5in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page5BodySec3RightText{font-size: 1.2rem;top: -30px}
.page5BodySec3Left{font-size: 1.1rem;}
.page6HeaderText{font-size: 1.9rem;}
.page6BodySec1Image{width: 3.9in;height: 2.2in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page6BodySec2Image{width: 3.9in;height: 2.7in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page6BodySec3Image{width: 3.9in;height: 2.2in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page6BodySec4Image{width: 4.1in;height: 2.7in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.leftArrow{padding: 1rem;line-height: 1.3}
.rightArrow{padding: 1rem;line-height: 1.3}
.page7HeaderText{font-size: 2rem;}
.page7BodySec1RightText{font-size: 1.1rem}
.page7BodySec1RightImage{width: 3.5in;height: 3in;background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}
.page7BodySec1LeftText1{font-size: 1rem}
.page7BodySec1LeftText2{font-size: 1rem;}
.page7BodySec1Right{gap: 2rem}
.page7BodySec2Text1{font-size: 1.7rem;}
.page7BodySec2Text2{font-size: 1.4rem;}
.page7BodySec2Text3{font-size: 1.2rem;}
.page7BodySec2Text3 p{margin-top: 25px;}
.page7BodySec2FooterLeftText{font-size: 1.1rem;}
.leftArrow:after{
    content: " ";
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 60px solid transparent;
  border-right: 15px solid black;
  border-left: none;
  border-bottom: 60px solid transparent;
}
.rightArrow:after {
    content: " ";
    position: absolute;
    right: -15px;
    top: 15px;
    border-top: 60px solid transparent;
    border-right: none;
    border-left: 15px solid black;
    border-bottom: 60px solid transparent;
  }
@media all and (max-width: 8.5in){
    .page{
        width: 100%;
        border: none;
    }
    .tabloidParent{
      width: 100%;
    }    
}
@media all and (max-width: 470px){
    .topLeftImage1{
        display: none;
    }
    .topLeftText2{
        display: flex;
    }
    .text{
        -webkit-columns: 1;
    }
}
@media all and (max-width: 690px){
    .page4HeaderImage{
        display: none;
    }
    .page5HeaderImage{
        display: none;
    }
    .page6HeaderImage{
        display: none;
    }
    .page5HeaderText{
        padding: 2rem;
        font-size: 2rem;
    }
}
@media all and (max-width: 590px){
    .leftArrow:after{
        border: none;
    }
    .rightArrow:after{
        border: none;
    }
}
.page2BodyText p{
    margin-top: 10px;
}
.page2BodyText{font-size: 1rem;}
@media print{
    .page{
        justify-content: start;
        max-height: 17in;
        width: 11in;
        border: none;
    }
    .page1HeaderBottom{font-size: 1.7rem;}
    .page1BodyRightText{font-size: 1.354rem;}
    .page1BodyLeftText2{font-size: 1.7rem;}
    .page1BodyRightText p{margin-top: 26.8px;}
    .page2BodyText p{margin-top: 21px; font-size: 1.3rem;}
    .page4BodySec1LeftImage{width: 4.5in;height: 3in;}
    .page4BodySec1RightImage{width: 4.5in;height: 3in;}
    .page4BodySec1LeftText{font-size: 1.3rem;}
    .page3BodyRightSec1{
        font-size: 1.3rem;
        line-height: 1.2;
    }
    .page3BodyRightSec3Image{margin-top: 100px;}
    .page3BodyRightSec2{margin-top: 50px;}
    .page3BodyRightSec3{font-size: 1.3rem;line-height: 1.2;margin-top: 50px;}
    .page3BodyLeftText{font-size: 1.3rem;}
    .page3BodyLeftText p{margin-top: 25px;}
    .RightSec2Text{font-size: 1.3rem;}
    .page4BodySec1RightText{font-size: 1.3rem;}
    .page4BodySec2LeftImage{width: 5in;height: 2in;}
    .page4BodySec2LeftText{font-size: 1.3rem;}
    .page4BodySec2RightBox1{font-size: 1.4rem;}
    .page4BodySec2RightBox2{font-size: 1.4rem;}
    .page4BodySec3LeftText1{font-size: 3rem;margin-bottom: 20px;}
    .page4BodySec3LeftImage{width: 5in;height: 2in;}
    .page4BodySec3{gap: 1rem}
    .sec3LeftText1{font-size: 1.5rem;}
    .sec3LeftText2{font-size: 2.1rem;}
    .sec3LeftText3{font-size: 1.5rem;}
    .sec3LeftText4{font-size: 2.5rem;}
    .sec3LeftText5{font-size: 1.4rem;}
    .page4BodySec3RightText{font-size: 1.7rem;}
    .page4BodySec3RightFooterText{font-size: 1.5rem;}
    .page4Body{gap: 4rem}
    .page5HeaderText{font-size: 2rem;}
    .page5BodySec1LeftText{font-size: 1.5rem;}
    .page5BodySec1RightText{font-size: 1.4rem;}
    .page5BodySec1LeftIamge{height: 3.5in; width: 5in}
    .page5BodySec1RightIamge{height: 3.5in;width: 5in}
    .page5BodySec2LeftImage{height: 4in;width: 6in}
    .page5BodySec2LeftText{font-size: 1.5rem;}
    .page5BodySec2Right{font-size: 1.4rem;}
    .page5BodySec3RightImage{height: 3.8in;width: 7in}
    .page5BodySec3RightText{font-size: 1.5rem;}
    .page5BodySec3Left{font-size: 1.4rem;}
    .page6HeaderText{font-size: 2.8rem;}
    .page6BodySec1Image{width: 6in;height: 3.4in}
    #page6BodySec1Text{font-size: 1.4rem;}
    .page6BodySec2Image{width: 5.2in;height: 3.5in}
    #page6BodySec2Text{font-size: 1.4rem;}
    .page6BodySec3Image{width: 5.5in;height:3.2in}
    #page6BodySec3Text{font-size: 1.4rem;}
    .page6BodySec4Image{width: 5.4in;height: 3.4in}
    #page6BodySec4Text{font-size: 1.4rem;}
    .page7HeaderText{font-size: 2.5rem;}
    .page7BodySec1RightText{font-size: 1.7rem}
    .page7BodySec1RightImage{width: 4in;height: 3.5in}
    .page7BodySec1LeftText1{font-size: 1.5rem}
    .page7BodySec1LeftText2{font-size: 1.5rem;}
    .page7BodySec2Text1{font-size: 2.2rem;}
    .page7BodySec2Text2{font-size: 1.9rem;}
    .page7BodySec2Text3{font-size: 1.6rem;}
    .page7BodySec2FooterLeftText{font-size: 1.5rem;}





}